
@import "./App.scss";


.about {
    // opacity: 0;
    flex-grow: 1;
    // display: flex;
    // flex-direction: column;
    width: 100%;
    padding: 2rem 1.5rem 0;
    overflow-y: scroll;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .description {
            flex-basis: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
        }


        .my-photo {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            // border: 2px solid $aqua;
            object-fit: cover;
            box-shadow: 0px 0px 5px 1px $aqua;
            opacity: 0;
        }

        
        .p1, .p2, .p3 {
            opacity: 0;
            transform: translateY(10px);
        }


        .skills {
            width: 100%;


            .list {
                // display: grid;
                // grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
                // justify-content: space-between;
                // row-gap: 15px;

                display: flex;
                flex-wrap: wrap;
                gap: 3.5rem;


                li {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }


                h3 {
                    margin-top: 5px;
                    font-size: 14px;
                    // text-align: center;
                }
            }

            svg {
                fill: $aqua;
            }

        }



        .skills-title {
            text-align: center;
            font-size: 2rem;
            font-family: 'Bebas Neue', cursive;
            letter-spacing: 2.8px;
            margin-bottom: 3rem;
            opacity: 0;
            // transform: translateX(100px);
            // transition: transform 0.3s ease;

            // &.move {
            //     transform: translateX(0%);
            // }

            span {
                color: $aqua;
            }
        }

        

    }


    @media(min-width: $desktop) {
        flex-direction: row;


        .container {
            flex-direction: row;
            gap: 8rem;

            
            // .skills-title {
            //     text-align: left;
            // }

            
            .skills {

                .list {
                    grid-template-columns: repeat(3, minmax(50px, 1fr));
                }
            }



        }



    }


}
