
$aqua: #66fcf1;
$greyish: #1f2833;
$black: #0b0c10;
$white: whitesmoke;
$tablet: 650px;
$desktop: 1100px;


*, *::after, *::before {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: $black;
    color: #c5c6c7;
    min-height: 100vh;
    display: flex;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

#root {
    display: flex;
    height: 100vh;
    flex-grow: 1;
    flex-direction: column-reverse;


    @media(min-width: 700px) {
        flex-direction: row;
    }

}



ul {
    padding: 0;
    margin: 0;
    list-style: none;
}


a {
    display: inline-block;
}