
@import "./App.scss";

.contact {

    padding: 1.5rem 2rem 0 1.5rem;
    flex-grow: 1;
    overflow-y: scroll;
    // width: 100%;

    .container {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 3rem;
    }

    
    .social-media {
        display: flex;
        justify-content: space-around;
        
        .linkedin-icon, .github-icon {
            opacity: 0;
            transform: translateY(10px);
            display: inline-block;
        }

        svg {

            transition: fill 0.3s ease;
            
            &:hover {
                fill: $aqua;
            }
        }

        


    }

    
    form  {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        // min-width: 500px;
        // max-width: 700px;
        width: 100%;
        gap: 1.5rem;
        
        input {
            padding: .7rem;
            background-color: #1f2833;
            outline: none;
            border: 1px solid $aqua;
            // border-radius: 5px;
            color: white;
            font-family: inherit;
            transform: translateY(10px);
            opacity: 0;
        }

        
        .text-area {
            background-color: #1f2833;
            outline: none;
            // border-radius: 5px;
            border: 1px solid $aqua;
            color: white;
            resize: none;
            padding: .7rem;
            font-family: inherit;
            transform: translateY(10px);
            opacity: 0;
        }

        .button-submit {
            padding: .5rem .4rem;
            max-width: 120px;
            border: 1px solid $aqua;
            background-color: transparent;
            color: $aqua;
            cursor: pointer;
            font-family: inherit;
            transition: background-color 0.3s ease, color 0.3s ease;
            transform: translateY(10px);
            opacity: 0;

            &:hover {
                background-color: $aqua;
                color: $black;
            }

        }
    }

    .map-container {
        opacity: 0;
        margin-bottom: 2rem;

        .location {
            margin-bottom: .5rem;
            display: flex;
            align-items: center;
            gap: 0.3rem;
        }
    }

    
    .toast-message {
        background-color: $greyish;
    }


    
    @media(min-width: $desktop) {
        .container {
            grid-template-columns: repeat(2, 1fr);
            gap: 4rem;
            justify-content: space-between;
        }
    } 

}