
.home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    // justify-content: center;
    // padding: 1rem 3rem;
    // align-items: left;
    word-wrap: break-word;
    word-break: break-all;
    overflow-y: scroll;
    // padding: 3rem 0;
    width: 100%;
    padding: 1.5rem;
    min-height: 100vh;

    @media(min-width: 700px) {
        padding-inline: 3rem;
    }



    
    h1 {
        font-size: 52px;
        color: whitesmoke;
        margin: .5rem;
        // opacity: 0;
        

        
        span {
            color: #66fcf1;
            font-style: italic;
        }



         @media(min-width: 700px) {
            font-size: 100px;
            margin: .5rem;
        }
    }

}
