
 @import "./App.scss";


.leaflet-container {
  width: 100%;
  height: 100%;
  border: 1px solid $aqua;

}

.map-tiles {
    filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
}