@import "./App.scss";

nav {
  background-color: $greyish;
  min-height: 10vh;
  width: 100%;
  position: sticky;
  bottom: 0;
  left: 0;
  top: 0;
  z-index: 1001;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    height: 100%;

    svg {
      fill: white;
      stroke: white;
      transition: transform 0.5s ease;
    }

    li.active svg {
      fill: $aqua;
      stroke: $aqua;
      transform: scale(1.1);
    }
  }

  @media (min-width: $tablet) {
    min-height: 100vh;
    max-width: 7%;

    ul {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
