.text-shpere {
    // position: relative;
    // top: 0;
    width: min(90%, 300px) ;
    max-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    // background: #1e1e1e;
}

.tagcloud {
    display: inline-block;
    // top: 0;
    // left: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    letter-spacing: 0.0625em;
    font-size: 1em;

     @media(min-width: 700px) {
        font-size: 1.1em;     
    }

}

/* Change color of each text in sphere on hover   */
.tagcloud--item {
    color: #00ffffff;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.tagcloud--item:hover {
    color: whitesmoke;
}