
@import "./App.scss";


.text-shpere { 
    width:  100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tagcloud {
    display: inline-block;
    // top: 0;
    // left: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    letter-spacing: 0.0625em;
    font-size: 1em;

    @media(min-width: $tablet) {
        font-size: 1.1em;     
    }

}

/* Change color of each text in sphere on hover   */
.tagcloud--item {
    color: $aqua;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.tagcloud--item:hover {
    color: $greyish;
}